/* Boilerplate CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: #000000;
}
#root{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 10px;
}
.card{
  width: 220px;
  height: 300px;
  border-radius: 10px;
  background-color: #4e9e7f;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
  padding: 25px;
  gap: 10px;
  min-width: 250px;
  outline: 1px solid #ffffff;

}
.card h1{
  font-size: 25px;
  margin-bottom: 5px;
  font-family: Arial, sans-serif;
}
.card p{
  font-size: 18px;
  font-family: Arial, sans-serif;
  color: #ffffff;
}
.card img{
  width: 75%;
  aspect-ratio: 1/1;
  border-radius: 10px;
  margin-bottom: 10px;
  object-fit: cover;
  object-position: top;
  border: 2px solid #ffffff;
} 
h1{
  color: #ffffff;
  font-family: Arial, sans-serif;
}
button{
  padding: 8px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  font-family: Arial, sans-serif;
  background-color: transparent;
  outline: 2px solid #ffffff;
  color: #ffffff;
}